      <%= form.text_field :image, placeholder: "Image Url", id: "image" %>
      <%= form.text_area :text, placeholder: "text" , rows: "10", id: "text"%>

      <div class="form-group">
        
        <!--本番環境だと読み込めない。。。-->
        <!--  <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class="form-check">
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.text %>
              <%= tag.check_box class: 'form-check-input' %>
            <% end %>
          </div>
        <% end %>  -->

        <div class="form-check">
          <label class="form-check-label" for="tweet_tag_ids_1">
              食べ物
              <input class="form-check-input" type="checkbox" value="1" name="tweet[tag_ids][]" id="tweet_tag_ids_1">
          </label>
          <label class="form-check-label" for="tweet_tag_ids_2">
              景色
              <input class="form-check-input" type="checkbox" value="2" name="tweet[tag_ids][]" id="tweet_tag_ids_2">
          </label>
          <label class="form-check-label" for="tweet_tag_ids_3">
              趣味
              <input class="form-check-input" type="checkbox" value="3" name="tweet[tag_ids][]" id="tweet_tag_ids_3">
          </label>
          <label class="form-check-label" for="tweet_tag_ids_4">
              仕事
              <input class="form-check-input" type="checkbox" value="4" name="tweet[tag_ids][]" id="tweet_tag_ids_4">
          </label>
        </div>

      </div>

      <%= form.submit "SEND" %>