<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <%= header_link_item('Pictweetについて', root_path) %>
        <%= header_link_item('Tweet', root_path) %>
        <%= header_link_item('Mypage', "/users/#{current_user.id}" ) %>
        <%= header_link_item('Favorite', "/users/#{current_user.id}/likes") %>
      </ul>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <%= header_link_item('Pictweetについて', root_path) %>
        <%= header_link_item('Tweet', root_path) %>
        <%= header_link_item('Login', new_user_session_path) %>

      </ul>
    <% end %>
  </div>
</nav>




      